
 <style type="text/css">
  @-webkit-keyframes spinner {
      from { -webkit-transform: rotateY(0deg); }
      to   { -webkit-transform: rotateY(-360deg); }
  }
  @keyframes spinner {
      from {
            -moz-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);
     }
     to {
         -moz-transform: rotateY(-360deg);
         -ms-transform: rotateY(-360deg);
         transform: rotateY(-360deg);
     }
  }
  .stage{
       margin:1em auto;
      -webkit-perspective:1200px;
      -moz-perspective:1200px;
      -ms-perspective:1200px;perspective:1200px
  }
  .spinner{
      -webkit-animation-name:spinner;
      -webkit-animation-timing-function:linear;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-duration:6s;
      -webkit-transform-style:preserve-3d;
      animation-name:spinner;
      animation-timing-function:linear;
      animation-iteration-count:infinite;
      animation-duration:6s;
      transform-style:preserve-3d
  }
  .spinner:hover{
     -webkit-animation-play-state:paused;
     animation-play-state:paused
  }.spinner img,.spinner5 img{
     position:absolute;
     border:1px solid #ccc;
     background:rgba(255,255,255,.8);
     box-shadow:inset 0 0 20px rgba(0,0,0,.2)
  }
  </style>
  <style type="text/css">
    @-webkit-keyframes spinner5 {
       from,15% { -webkit-transform: rotateY(0);       }
       20%,35%  { -webkit-transform: rotateY(-72deg);  }
       40%,55%  { -webkit-transform: rotateY(-144deg); }
       60%,75%  { -webkit-transform: rotateY(-216deg); }
       80%,95%  { -webkit-transform: rotateY(-288deg); }
       to       { -webkit-transform: rotateY(-360deg); }
    }
    @keyframes spinner5 {
       from,15% {
          -moz-transform: rotateY(0);
          -ms-transform: rotateY(0);
          transform: rotateY(0);
       }
       20%,35%  {
         -moz-transform: rotateY(-72deg);
         -ms-transform: rotateY(-72deg);
         transform: rotateY(-72deg);
       }
       40%,55%  {
         -moz-transform: rotateY(-144deg);
         -ms-transform: rotateY(-144deg);
         transform: rotateY(-144deg);
       }
       60%,75%  {
          -moz-transform: rotateY(-216deg);
          -ms-transform: rotateY(-216deg);
          transform: rotateY(-216deg);
       }
       80%,95%  {
          -moz-transform: rotateY(-288deg);
          -ms-transform: rotateY(-288deg);
          transform: rotateY(-288deg);
       }
       to {
         -moz-transform: rotateY(-360deg);
         -ms-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
       }
   }
   .spinner5{
       -webkit-animation-name:spinner5;
       -webkit-animation-timing-function:ease-out;
       -webkit-animation-iteration-count:infinite;
       -webkit-animation-duration:20s;
       animation-name:spinner5;
       animation-timing-function:ease-out;
       animation-iteration-count:infinite;
       animation-duration:20s;
       -webkit-transform-style:preserve-3d;
       -moz-transform-style:preserve-3d;
       -ms-transform-style:preserve-3d;
       transform-style:preserve-3d}
  </style>
